###> Custom Rules ###
# Игнорировать ВСЕ файлы в корне
/*
!/.gitignore
!/.env
!/.env.test
!/README.md
!/*.txt
!/composer.*
!/symfony.lock
!/phpunit.xml.dist

# Разрешаем папки (с их содержимым)
!/config/
!/public/
!/src/
!/migrations/
!/assets/
!/bin/
!/templates/
!/translations/
!/var/
!/vendor/

# Явно запрещаем ненужное
/compose.*
/.env.dev
/importmap.php
###< Custom Rules ###