###> Custom Rules ###
# Игнорировать все файлы в корне, кроме исключений
/*
!/.env
!/.env.test
!/.gitignore
!/*.md
!/*.txt
!/composer.*
!/symfony.lock
!/package.json
!/package-lock.json
!/phpunit.xml.dist

# Дополнительные исключения для Symfony
!/importmap.php
!/config/
!/public/
!/src/
!/migrations/
!/assets/
!/bin/

# Игнорировать конкретные файлы (если нужно)
/compose.override.yaml
/compose.yaml
/.env.dev
###< Custom Rules ###