### Игнорировать ВСЁ в корне, кроме разрешённого ###
/*
!/.gitignore
!/.env
!/.env.test
!/README.md
!/*.txt
!/composer.*
!/symfony.lock
!/phpunit.xml.dist

### Разрешить папки Symfony ###
!/src/
!/config/
!/public/
!/migrations/
!/bin/
!/templates/
!/translations/
!/assets/

### Стандартные исключения Symfony ###
/var/
/vendor/
/.env.local
/.env.*.local
/public/bundles/
.phpunit.result.cache